# Habilitar o mecanismo de reescrita
RewriteEngine On

# Redirecionar todas as solicitações que não são arquivos para index.html
# Isso é necessário para aplicações SPA (Single Page Applications)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /ob2/index.html [L,QSA]

# Configurações adicionais para lidar com o caminho base
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ob2/(.*)$ /ob2/index.html [L,QSA]

# Garantir que o caminho base seja tratado corretamente
RewriteRule ^/ob2$ /ob2/ [R=301,L]